[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
isort = "*"
callouts = {path = "./../../packages/callouts/dist/callouts-0.1.0-py3-none-any.whl"}
autologging = "*"
django-kinder-settings = "*"
django-rest-framework = "*"
alps-py = "*"
pytest = "*"
pytest-django = "*"
requests = "*"
diogi = "*"

[dev-packages]

[requires]
python_version = "3.10"
