[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "*"
isort = "*"
django-kinder-settings = {path = "./../../packages/django-kinder-settings/dist/django_kinder_settings-0.1.4-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.10"
